/*** GENERELT ***/
body {
    color: #fff;
    margin: 0 auto;
    background-color: #fff;
}

/* HEADER */
.navbar {
    border-radius: 0;
    color: #fff;
    margin: 0;
}

.navbar-default {
    background-color: #ad0505;
    border: none;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    transition: .25s, background-color;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #710000;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #240000;
}

.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #710000;
}


/**** BODY ****/
.splash {
    min-height: 600px;
    background-image: url("images/splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}


.logo {
    width: 250px;
    height: 250px;
    margin: 150px auto 0;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1.1s;
    z-index: 10;
}

.logo:hover {
    -ms-transform: scale(1.25,1.25);
    -webkit-transform: scale(1.25,1.25);
    transform: scale(1.25,1.25);
}

.farve-overlay {
    margin-top: 150px;
    height: 60px;
    background-color: #A80000;
}

.farve-overlay h2 {
    text-align: center;
    padding-top: 12px;
    color: #fff;
}

.content {
    color: #000;
}

.sortering ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sortering ul li {
    display: inline-block;
    margin-right: 10px;
}

.sortering .dropdown {
    float: right;
}

.sortering {
    margin: 10px 0 5px;
}

main {
    color: #000;
}

.menuer h1 {
    text-align: center;
    margin: 5px 0 10px;
}

hr {
    border: .5px solid #aaa;
}

/** PRODUKTER **/

.produkt img {
    max-height: 200px;
    transition: 1s;
}

.produkt img:hover {
    -ms-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}

.produkt {
    margin-top: 15px;
    min-height: 400px;
}

.udsolgttekst {
    color: #aa0000;
}

.udsolgt {
    display: none;
}

.pris {
    color: #00aa00;
}

.rabatpris {
    color: #00aa00;
}

.rabat {
    text-decoration: line-through;
    color: #aa0000;
}

.ingenrabat {
    display: none;
}

.modalbillede {
    max-height: 500px;
}

/**** FOOTER ****/
footer {
    margin-top: 50px;
    background-color: #A80000;
    text-align: center;
}
footer h3 {
    margin: 20px 0;
}
